catminat/baseflor.csv
catminat/baseflor.xlsx
catminat/legenda.ods
catminat/legende.csv
Issues.org~
MEE.org
MEE.org~
/.gitignore~
/.Rhistory
/R/.Rhistory
/R/vai
/vignettes/_region_.tex
/vignettes/TR8.R
/TAGS
/vignettes/TR8.aux
/vignettes/TR8.log
/vignettes/TR8.tex
/retrieved_traits
/*R*
/vignettes/#TR8_workflow.R#
/vignettes/.#TR8_workflow.R
/vignettes/TR8_workflow.R
/vignettes/TR8_workflow.aux
/vignettes/TR8_workflow.bbl
/vignettes/TR8_workflow.blg
/vignettes/TR8_workflow.log
/vignettes/TR8_workflow.tex
/vignettes/.Rhistory
/vignettes/Expanding_TR8.aux
/vignettes/Expanding_TR8.log
/vignettes/texput.log
/vignettes/Expanding_TR8.tex
/Notes_for_brot.org
/Notes_for_brot.org~
/inst/COPYRIGHTS~
/man/TR8-package.Rd~
*~
/inst/.Rhistory
/catminat/.~lock.legende.csv#
