export(tr8)
export(tr8_setup)
exportMethods(bib)
exportMethods(lookup)
exportMethods(extract_traits)
exportMethods(issues)
export(available_traits)
import(RCurl)
import(XML)
import(methods)
import(rappdirs)
import(plyr)
import(readxl)
import(shiny)
importFrom(reshape,cast)
importFrom("stats", "aggregate")
importFrom("utils", "data", "download.file", "read.csv", "read.delim")
importFrom("taxize","tnrs")
importFrom("utils", "read.table")
