export(tr8)
exportMethods(bib)
exportMethods(lookup)
exportMethods(extract_traits)
export(available_traits)
import(RCurl)
import(XML)
import(methods)
import(taxize)
import(rappdirs)
import(plyr)
importFrom("gWidgets",gbasicdialog,ggroup,glabel,gnotebook,gcheckboxgroup,visible,svalue,gradio,gfile,gmessage)
importFrom("gWidgetstcltk",.gbasicdialog,.ggroup,.glabel,.gnotebook,.gcheckboxgroup,.visible,.svalue,.gradio,.gfile,.gmessage)
