export(tr8)
exportMethods(bib)
exportMethods(lookup)
exportMethods(extract_traits)
exportMethods(issues)
export(available_traits)
import(RCurl)
import(XML)
import(methods)
import(rappdirs)
import(plyr)
import(readxl)
importFrom(reshape,cast)
importFrom("gWidgets",gbasicdialog,ggroup,glabel,gnotebook,gcheckboxgroup,visible,svalue,gradio,gfile,gmessage)
importFrom("gWidgetstcltk",.gbasicdialog,.ggroup,.glabel,.gnotebook,.gcheckboxgroup,.visible,.svalue,.gradio,.gfile,.gmessage)
importFrom("stats", "aggregate")
importFrom("utils", "data", "download.file", "read.csv", "read.delim")
importFrom("taxize","tnrs")
importFrom("utils", "read.table")
